@media only screen
and (min-device-width:220px)
and (max-device-width:992px){.tabs > section{height:auto;}
.content-block-2 .content-block-2-form .button{font-size:1em;}
.content-block-2 .content-block-2-form form input{margin-top:25px;}
.tabs > label{padding:5px 5px;}
.foot-block-2 ol li {margin-left: 0;}
.foot-block-4 {margin-top: 50px;}
}
@media only screen
and (min-device-width:992px)
and (max-device-width:1199px){.tabs > label{padding:15px 10px;margin-right:1px;}
}
@media only screen
and (min-device-width:220px)
and (max-device-width:767px){.vibor-img img{height:auto;}
.header-text-mid ol li{font-size:0.5em}
.logo-img{margin:0 auto;width:50%;margin-top:50px;margin-bottom:50px;}
.header-menu{margin-bottom:20px;}
.header-text-top h1{text-align:center;}
.header-text{margin-bottom:50px;}
.dash .digit{padding:5% 6%;}
.content-block-1 h2{margin-bottom:11%;}
section .content-inside{flex-direction:column;}
.content-block-1-container-block-1-img{width:100%;margin-bottom:10px;}
.content-block-1-container-block-1-text{margin:0 auto;}
.content-block-2 .content-block-2-form form label{width:100%;,margin-top:20px;}
.content-block-2 .content-block-2-form .button{width:auto;margin-top:20px;}
.bg-container-2-down .content-block-2-form{width:80%;margin:0 auto;}
.content-block-2 .content-block-2-form{width:80%;margin:0 auto;margin-bottom:50px;}
.bg-container-2-down .content-block-2-form label{width:100%!important;}
.bg-container-2-down .content-block-2-form .button{width:auto!important;margin:0 auto;margin-top:20px;margin-bottom:20px;}
.foot-block-1 img{margin:0 auto;}
.row-down{display:none;}
}
@media screen and (max-width:680px){.tabs > label{font-size:25px;padding:15px;}
 .tabs > label .fa{display: block; margin: 0 0 -2px;}.tabs > label p {display: none;}}
}
@media only screen
and (min-device-width:680px)
and (max-device-width:991px){.tabs > label{padding:5px 5px;}
}
@media screen and (max-width:400px){.tabs > label{padding:5px;}
}
@media only screen
and (min-device-width:220px)
and (max-device-width:425px){.popup{max-width:75%;max-height:400px;overflow:scroll;}
.content-block-1-container-block-1-ssilka{margin:0 auto;width:100%;}
}
@media only screen
and (min-device-width:425px)
and (max-device-width:768px){.popup{max-width:75%;max-height:400px;overflow:scroll;}
.content-block-1-container-block-1-img{width:50%;margin-bottom:60px;margin:0 auto;margin-top:50px;}
.content-block-1-container-block-1-text{margin:0 auto;}
.content-block-1-container-block-1-ssilka{margin:0 auto;width:100%;}
.logo-img{width:30%;}
.logo-img img{width:100%;}
.header-text-mid{width:40%;margin:0 auto;font-size:1.2em;}
}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px){.popup{max-width:75%;max-height:400px;overflow:scroll;}
}
@media only screen
and (min-device-width:600px)
and (max-device-width:768px){.header-text-mid{width:40%;margin:0 auto;}
}