/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: 'agora_regular';
	line-height: 1;
	background-color: #F5F6F8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	width: 100%;
	letter-spacing: 0.025em;
	line-height: 1.75;
	
	opacity: 1; 
	-webkit-font-smoothing: subpixel-antialiased;
}

/******************************************************************
	This is the CSS Reset
******************************************************************/
@font-face {
	font-family: 'agora_light';
	src: url('../fonts/pfagorasanspro-light-webfont.eot');
	src: url('../fonts/pfagorasanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-light-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_black';
	src: url('../fonts/pfagorasanspro-black-webfont.eot');
	src: url('../fonts/pfagorasanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-black-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_bold';
	src: url('../fonts/pfagorasanspro-bold-webfont.eot');
	src: url('../fonts/pfagorasanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-bold-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_regular';
	src: url('../fonts/pfagorasanspro-reg-webfont.eot');
	src: url('../fonts/pfagorasanspro-reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-reg-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-reg-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_medium';
	src: url('../fonts/pfagorasanspro-medium-webfont.eot');
	src: url('../fonts/pfagorasanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-medium-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_light_italic';
	src: url('../fonts/pfagorasanspro-lightital-webfont.eot');
	src: url('../fonts/pfagorasanspro-lightital-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-lightital-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-lightital-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_thin';
	src: url('../fonts/pfagorasanspro-thin-webfont.eot');
	src: url('../fonts/pfagorasanspro-thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-thin-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.header-right-block-form input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #000;
}

.header-right-block-form input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #000;
}

.header-right-block-form input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #000;
}

.header-right-block-form input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #000;
}




input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #e1e1e1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #e1e1e1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #e1e1e1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #e1e1e1;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { opacity:1; }
input::-moz-placeholder,
textarea::-moz-placeholder { opacity:1; }
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { opacity:0; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { opacity:0; }
input {outline: 0 !important;}

.header-img{background: url(../img/headerbg.png) center center no-repeat;-webkit-background-size: cover;
background-size: cover;}
.container-menu {padding-top: 20px;}
.header-menu ol {display: flex;flex-direction: row;}
.header-menu ol li {text-align: center; margin: 0 auto;}
.header-menu ol li a{text-decoration: underline; color: #fff}
.header-menu ol li a:hover{color: #FEA200}
.header-menu ol li a:active{color: #FEA200}
.header-tel {text-align: center;}
.header-tel a {margin: 0 auto;text-align: center;}
.header-tel a {color: #fff;}
.header-tel a:hover{color: #FEA200}
.header-tel-btn{text-align: center}
.header-tel-btn a {color: #AF7B27}
.header-tel-btn a:hover {color:#fff;}
.header-text-top h1 {color: #fff;font-weight: bold;}
.container-header-mid {margin-top: 115px;padding-bottom: 100px;}
.header-text-mid {color: #fff;}
.header-text-mid ol li {display: flex;flex-direction: row;margin-top: 40px;}
.header-text-mid ol li img {}
.header-text-mid ol li p {margin:10px 0 0 10px}
.header-text-down {text-align: center; width: 70%;}
.header-text-down a { color: #fff; text-decoration: underline;}
.header-right-block {background:#e2e2e1db;padding: 15px; }
.header-right-block h2 {font-weight: bold;text-align: center;}
.header-right-block p {text-align: center;}
.header-right-block-timer h2{text-align: center;}
.header-right-block-timer ol {display: flex;flex-direction: row;}
.header-right-block-timer ol li {padding:8px; background: #FEA200; color: #fff;margin-right: 5px;font-size: 18px;}
.header-right-block-timer ol .dvoet {background: transparent; color: #000;}
.header-right-block-form form {width: 100%; margin-top: 35px;}
.header-right-block-form form .name {width: 45%; margin-right: 7.5%;}
.header-right-block-form form .name input {width: 100%;}
.header-right-block-form form .phone {width: 45%;}
.header-right-block-form form .phone input {width: 100%;}
.header-right-block-form form .text  {width: 99%;}
.header-right-block-form form .text input {width: 100%;}
.header-right-block-form form .button {margin-bottom: -60px;padding:15px 0 15px 0; text-align: center; background:#FFA300; width: 100%;color: #fff;font-size: 1.5em;}
.header-right-block-form form input {border: none;background: transparent;border-bottom: 1px solid #000;}
.row-down {width: 10%; margin: 0 auto; margin-top: 100px;}

.content-block-1 {width: 100%}
.content-block-1 h2 {text-align: center; margin-top: 10%;font-weight: bold;font-size: 2.5em;margin-bottom: 10%;}
.content-block-1-container-block-1-img {margin-top: 50px;width: 60%;margin-bottom: 80px;}
.content-block-1-container-block-1-img img {width: 100%;}
.content-block-1-container-block-1-text {width: 100%;font-size: 1.2em; margin-top: 50px;margin-left: 35px;}
.content-block-1-container-block-1-text h3 {font-weight: bold;font-size: 1.5em;margin-top: 0;}
.content-block-1-container-block-1-ssilka {margin-bottom: 25px;width: 20%;text-align: center;}
.content-block-1-container-block-1-ssilka a {color: #000; text-align: center;}
.content-block-1-container-block-1 {margin-bottom: 50px;}
.content-block-1-container-block-1-text .button {margin-left:50%; text-align: center; background:#FFA300;color: #fff;font-size: 1.5em;width: 40%;margin-top: 5%;}
.bg-container-2 {background: url(../img/bg-2.png) center center no-repeat;-webkit-background-size: cover;
background-size: cover; width: 100%;}
.bg-container-2 h2 {margin-top: 90px;margin-bottom: 70px;}
.content-block-2 {color: #fff;}
.content-block-2 h2 {text-align: center;}
.content-block-2 .content-block-2-form form input {width: 90%; font-size: 1.5em; color:#fff; border: none;background: transparent;border-bottom: 1px solid #fff;}
.content-block-2 .content-block-2-form form .name {color: #fff;}
.content-block-2 .content-block-2-form form label {width: 30%;color: #fff;}
.content-block-2 .content-block-2-form .button {width: 25%; text-align: center; background:#FFA300;color: #fff;font-size: 1.5em;}
.container-vibor h2 {text-align: center;margin-top: 120px;margin-bottom: 20px;}
.container-vibor {margin-bottom: 100px;}
.vibor-img{width: 20%;margin: 0 auto;margin-bottom: 30px;}
.vibor-img img {width: 100%;}
.vibor {margin-top: 70px;}
.vibor-text {text-align: center;}
.container-raboti {margin-bottom: 30px;}
.container-raboti h2 {text-align: center;}
.content-block-2-form {margin-bottom: 100px;}
.raboti-bg{
    position:relative;
   width: 100%;background: url(../img/rab-1.png) center center no-repeat; height: 300px; margin-top: 35px;}
.raboti-text{
    display:none;
background: #000000bf;
padding-left: 30px;padding-right: 30px;
padding-bottom: 30px;
height: 300px;
}
.raboti-text a p{
	padding-top: 50%;color: #fff;text-decoration: none;
}
.raboti-text a:hover{text-decoration: none;
}
.raboti-bg:hover .raboti-text{
    display:block;
    position:absolute;
   
    z-index:9999;
   
}
.raboti-bg1 {background: url(../img/rab-2.png) center center no-repeat;}
.raboti-bg2 {background: url(../img/rab-3.png) center center no-repeat;}
.raboti-bg3 {background: url(../img/rab-4.png) center center no-repeat;}
.raboti-bg4 {background: url(../img/rab-5.png) center center no-repeat;}
.raboti-bg5 {background: url(../img/rab-6.png) center center no-repeat;}
.bg-container-2-down .content-block-2-form{width: 60%; margin: 0 auto; margin-bottom: 100px;}
.bg-container-2-down .phone {width: 45%!important;}
.bg-container-2-down .name {width: 49%!important;}
.bg-container-2-down .text {width: 100%!important;}
.bg-container-2-down .button {margin-top: 35px;margin-left: 25%; width: 40%!important;}
footer {margin-top: 90px;padding-bottom: 75px;}
.foot-block-1 p {margin-top: 55px;}
.foot-block-2 ol li:first-child {margin-top:30px;}
.foot-block-2 ol li {margin-top: 5px;}
.foot-block-2 ol li a{color: #000; text-decoration: underline;}
.foot-block-3 h2 {margin-top: 0;}
.content-block-1-container-ssilki .dv {margin-bottom: 25px;text-align: center;width: 23%; margin-left: 10px;}
.content-block-1-container-ssilki .dv a p{width: 100%; padding: 15px;}
.content-block-1-container-ssilki {display: flex;flex-direction: row;}
.content-block-1-container-ssilki .dv a p{background: #ccc;}
.content-block-1-container-ssilki .dv a p:visited {background: #fff;}

.tabs {

    
    padding: 0px;
    margin: 0 auto;
        }
        /* Стили секций с содержанием */
        
        .tabs > section {
            display: none;
            padding: 15px;
            background: #fff;
            border: 1px solid #ddd;
            height:auto;
        }
 section .content-inside {display:flex; flex-direction: row;}   
animation-name: fadeIn;
        }
        /* Описываем анимацию свойства opacity */
        
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        /* Прячем чекбоксы */
        
        .tabs > input {
            display: none;
            position: absolute;
        }
        /* Стили переключателей вкладок (табов) */
        
        .tabs > label {
            display: inline-block;
            margin: 0 0 -1px;
            margin-right: 20px;
           padding: 15px 28px;
            font-weight: 600;
            text-align: center;
            color: #000;
            border: 0px solid #ddd;
            border-width: 1px 1px 1px 1px;
            background: #F8F8F8;
            border-radius: 3px 3px 0 0;
        }
     
        /* Изменения стиля переключателей вкладок при наведении */
        
        .tabs > label:hover {
            color: #888;
            cursor: pointer;
        }
        /* Стили для активной вкладки */
        
        .tabs > input:checked + label {
            color: #555;
            
            border-bottom: 1px solid #fff;
            background: #fff;
        }
        /* Активация секций с помощью псевдокласса :checked */
        
        #tab1:checked ~ #content-tab1,
        #tab2:checked ~ #content-tab2,
        #tab3:checked ~ #content-tab3,
        #tab4:checked ~ #content-tab4 {
            display: block;
        }    
        @media screen and (max-width: 680px) {
            .tabs > label {
                font-size: 0;
            }
            .tabs > label:before {
                margin: 0;
                font-size: 18px;
            }
        }
        
        @media screen and (max-width: 400px) {
            .tabs > label {
                padding: 15px;
            }
        }
.container-bl {margin-bottom: 100px;}
.foot-block-4 i {color:#FEA200;padding-right: 10px;}


