/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: 'agora_regular';
	line-height: 1;
	background-color: #F5F6F8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	width: 100%;
	letter-spacing: 0.025em;
	line-height: 1.75;
	
	opacity: 1; 
	-webkit-font-smoothing: subpixel-antialiased;
}

/******************************************************************
	This is the CSS Reset
******************************************************************/
@font-face {
	font-family: 'agora_light';
	src: url('../fonts/pfagorasanspro-light-webfont.eot');
	src: url('../fonts/pfagorasanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-light-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_black';
	src: url('../fonts/pfagorasanspro-black-webfont.eot');
	src: url('../fonts/pfagorasanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-black-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_bold';
	src: url('../fonts/pfagorasanspro-bold-webfont.eot');
	src: url('../fonts/pfagorasanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-bold-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_regular';
	src: url('../fonts/pfagorasanspro-reg-webfont.eot');
	src: url('../fonts/pfagorasanspro-reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-reg-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-reg-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_medium';
	src: url('../fonts/pfagorasanspro-medium-webfont.eot');
	src: url('../fonts/pfagorasanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-medium-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_light_italic';
	src: url('../fonts/pfagorasanspro-lightital-webfont.eot');
	src: url('../fonts/pfagorasanspro-lightital-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-lightital-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-lightital-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'agora_thin';
	src: url('../fonts/pfagorasanspro-thin-webfont.eot');
	src: url('../fonts/pfagorasanspro-thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagorasanspro-thin-webfont.woff') format('woff'),
		 url('../fonts/pfagorasanspro-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #e1e1e1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #e1e1e1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #e1e1e1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #e1e1e1;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { opacity:1; }
input::-moz-placeholder,
textarea::-moz-placeholder { opacity:1; }
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { opacity:0; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { opacity:0; }



/*---------media------*/



/*-------Header-------*/
.istor_text_nazv_mobile  {
	display: none;
}

.isor_btn_mobile {
	display: none;
}
.mobile_menu {
	display: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #fff;
}

.container{
	width: 100%;
}
header {

	background: url(../img/c1_bg1.png) top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.header_bg{
	background-color: rgba(31, 30, 30, 0.88);width: 100%;
}

.desc_menu {
	top: 0;
	width: 100%;
	position: fixed;
	background-color: #3D465E;
	z-index: 50;

}
.desc_menu ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 15px;
	
}
.desc_menu ul li {
	left: 0;
	right:0;
	margin: auto;
}
.desc_menu ul li a {
	color: #fff;
	text-decoration: underline;
}
.logo {display:flex; margin-top: 50px; justify-content: left;}
.logo p {font-size: 2.5em;color: #E4E159;}
.logo p span {color:#fff; font-size: 0.5em;}
.logo_right {
	margin-top: 50px;
	width: 100%;
	margin-bottom: 110px;display: flex;flex-direction: row;

}
.logo-right-nomber{width: 100%;}
.logo_right-soc  {
text-transform: uppercase;
font-weight: bold;
color: #fff;
text-align: right;
width: 100%;
margin-top: 50px;
    width: 100%;
    margin-bottom: 110px;
}
.logo_right-soc-mobile {display: none;}
.logo_right-soc a{font-size: 1.5em;color: #fff; margin-right: 25%;}
.logo_right a {

text-transform: uppercase;
font-weight: bold;
color: #fff;
text-align: right;
}

.logo_right  a:hover{color: #fff;}
.logo_right p {

	color: #fff;
	/*color: #8e001c;*/
	font-size: 1.5em;
	text-align: left;
	margin-top: 1%;

}
.logo_right .btns {}
.logo_right .btns:hover{color: #E4E159;}
.logo_right p span {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 1.3em
}
.vzisk {
margin-top: 100px;
margin-bottom: 50px;
}
.vzisk p { font-weight: bold;text-transform: uppercase;color: #fff; font-size: 2.3em;}
.vzisk p span {
	color: #fff;font-size:0.7em;
}
.garantia {
	width: 100%;
	margin-top: 50px;
}
.garantia p {
	font-size: 1.2em;
	color: #fff;
	text-align: center;
}
.garantia p span {
	font-size: 1.3em;
	font-weight: bold;
}
.header_zakaz {
	margin-top: 100px;
	width: 100%;
	padding-bottom: 50px;
	margin-bottom: 100px;
}
.header_zakaz p {
	padding: 30px;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	color: #fff;
	padding-bottom: 80px;
}
.header_zakaz .btns {
	float: none;
	vertical-align: middle;
	text-align: center;
	height: auto;
	width: 45%;
	font-size: 1.5em;
	margin-left: 30%;
	background-color: #E4E159;
	font-weight: bold;
	text-transform: uppercase;
}
.otvetchik {
	margin-top: 100px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5em;
	padding-bottom: 100px;
}


/*--------------Content1------------*/


.else {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	color:#000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2em;

}
.else_desc {
	margin-top: 50px;
	height: 200px;
	margin-bottom: 10px;

	width: 100%;
	text-align: center;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5em;
}
.else_desc .fa{ font-size: 2.5em; color: #E4E159}
.else_desc p {
margin-top: 10px;
}
.else_desc .else-underl{border-bottom: 0.5px solid #ccc;padding-bottom: 5px;}
.else_desc span {
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	font-size: 0.5em;
	font-weight: bold;
}
/*--------content2---------*/

.bg_content_znan{margin-top: 5%;}
.znan {
	margin-top: 5%;
	margin-bottom: 50px;
	vertical-align: middle;
	
	width: 100%;

	
}
.znan_in{
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}
.znan_in_1 {
	
	font-size: 1.8em;
	color: #fff;
	padding-bottom: 50px;

}
.znan_in_1 p{color: #000}
.znan_in_1 span {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
}
.znan_in_2{
	border-top: 1.3px solid #000;
	margin-top: 5px;
	padding-top: 50px;
	color: #000;
	font-size: 1.3em;
	padding-bottom: 30px;

}
.znan_in_3 {
	margin-top: 20px;
	font-style: italic;
	font-size: 0.8em;
	color: #fff;
	padding-bottom: 50px;
}
.znan_in_3 .mob {
	display: none;
}
.zayavka_cont_2 {
	width: 100%;
	padding-bottom: 50px;
	margin-top: 5%;

	

}
.zayavka_cont_2_desc{margin-bottom: 5%;text-align: center;color: #000;font-weight: bold;text-transform: uppercase;font-size: 1.5em;}
.zayavka_cont_2 .desc {
	color: #000;
	font-size: 1em;
}
.zayavka_cont_2 {color: #000;}
.zayavka_cont_2 form {
	width: 100%;
	padding-left:5%;
}
.zayavka_cont_2 form .name{
	width: 100%;
	height: 40px;
}
.zayavka_cont_2 form .name textarea

.zayavka_cont_2 .button_zayavka_cont_2{
	text-align: center;
	width: 100%;
	background-color: #8E001C;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	padding: 15px;
}
.zayavka_cont_2 form input {
	background-color: rgba(255,255,255,0.4);
	border: 1px solid #000!important;
	margin-bottom: 15px;
	font-family: 'agora_regular';
	font-size: 18px;
	color: #000;
	padding: 0 10px;
}

.zayavka_cont_2 form input.phone1 {
	width: 10%;
}
.zayavka_cont_2 form input.phone_1,{
width: 10%;
}
.zayavka_cont_2 .button {background-color: #E4E159; text-transform: uppercase; font-weight: bold;font-size: 2em;}

.test-oglav {width: 100%;margin-top: 5%;margin-bottom: 5%;}
.test-oglav p {text-align: center;color: #000;font-weight: bold;text-transform: uppercase;font-size: 2em;}
.test-item-oglav{margin-top: 2.5%;margin-bottom: 2.5%;text-align: center; font-weight: bold; text-transform: uppercase; font-size: 2em;}
.test-item-img {width: 100%;}
.test-item {height: 400px;}
.test-item .test-item-img img {width: 100%;height: 250px;}






.smallimg1 {
	margin-top: -25px !important;
	margin: 0 auto;
	background: url(../img/c4_icon1.png)center center no-repeat;;
	-webkit-background-size: cover;
	background-size: cover;
	width: 40px;
	height: 40px;
	background-color: #fff;
}
.smallimg2 {
	margin-top: -25px !important;
	margin: 0 auto;
	margin-top: -30px;
	background-repeat: no-repeat;
	background: url(../img/c4_icon4.png) center center no-repeat;
	width:40px;
	height: 40px;
	background-color: #fff;
}
.smallimg3 {
		margin-top: -25px !important;
	margin: 0 auto;
	background: url(../img/c4_icon2.png)center center no-repeat;;
	width: 40px;
	height: 40px;
		-webkit-background-size: cover;
	background-size: cover;
	background-color: #fff;
}
.smallimg4 {
	margin-top: -25px !important;
	margin: 0 auto;
	margin-top: -30px;
	background: url(../img/c4_icon5.png)center center no-repeat;;
	width: 40px;
	height: 40px;
		-webkit-background-size: cover;
	background-size: cover;
	background-color: #fff;
}
.smallimg5 {
	margin-top: -25px !important;
	margin: 0 auto;
	margin-top: -30px;
	background: url(../img/c4_icon3.png)center center no-repeat;;
	width: 40px;
	height: 40px;
		-webkit-background-size: cover;
	background-size: cover;
	background-color: #fff;
}
.smallimg6 {
	margin-top: -25px !important;
	margin: 0 auto;
	margin-top: -30px;
	background: url(../img/c4_icon6.png)center center no-repeat;
	width: 40px;
	height: 40px;
		-webkit-background-size: cover;
	background-size: cover;
	background-color: #fff;
}
.content_bg3 {
	background: url(../img/c5_bg.jpg) center center no-repeat;margin-top: 50px;-webkit-background-size: cover;
	background-size: cover;
}
.utp {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
}
.utp p {
	text-align: left;
	font-size: 1em;
}
.utp p span {
	margin-right: 35px;
	background-color: #ccc;
	color: #8E001C;
	font-size: 	2em;
	float: left;
}
.else_btn {
	text-align: center;
}
.else_btn {
text-align: center;
margin-top: 25px;
margin-bottom: 50px;
}
.else_btn p {
	margin-top: 30px;
	font-size: 1em;
}
.else_btn a {
margin-top: 50px;
		padding: 14px;
	background-color: #8E001C;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.else_4 {width: 100%;
	margin-top: 50px;
	text-align: center
	font-size:1.8em;
	color: #fff;
}
.else_4 p {
	font-size: 1.8em;
}
.else_4 span {
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 10px;
}
.content_bg4 {
text-align: center;
background: url(../img/c9_bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;

}

.istor {
	margin-top: 50px;
	padding: 2%;
	border: 1.5px solid #ccc;


}

.istor_img{
	margin-top: 2%;
	width: 100%;

}
.istor_img img{
	width: 100%;
	height: 400px;
}
.isor_btn_md_lg {
	margin-top: 50px;
	text-align: center;
}

 .isor_btn_md_lg p a {
		padding: 20px;font-size: 1.5em;
	background-color: #2BFF00;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.istor_text {
	margin-top: 25px;
	width: 100%;
}
.istor_text_nazv {
	font-size: 1.2em;
		color: #2c2c2c;
	font-weight: bold;
	text-transform: uppercase;
}
.istor_text_nazv span {
	color: #8E001C;
	font-size: 0.9em;
	text-transform: none;
	font-weight:normal;
}
.istor_text_summa {
	margin-top: 25px;
	


}
.istor_text_summa .do {
	margin-top: 15px;
}
.istor_text_summa .do span {
	font-weight: 1.2em;
	font-weight: bold;
}
.istor_text_summa .posle {
	margin-left: 50px;
	padding: 15px;
text-align: center;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.1em;
}
.istor_text_summa .posle span {
	font-size: 1.2em; text-align: center;
}
.istor_text_text {

}

.istor_text_text li{
	margin-top: 25px;
	font-size: 1.2em;
}
.istor_text_text li span {
	color: #000;
	font-size: 1.2em;

}
.content_bg_5 {
	margin-top: 50px;
	background: url(../img/c8_photos.jpg) center center no-repeat;
	height: 300px;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}
.content_bg_6 {
	width: 100%;
	padding-bottom: 25px;
	background: url(../img/c9_bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.content_bg_6 .else {
	color: #fff;
}
.c9 {
	width: 100%;

}
.c9 .block {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	height: 134px;
	margin: -3px -7px 0px 0px;
	position: relative;
}

.c9 .block p {
	font-family: 'agora_light';
	font-size: 17px;
	color: #fff;
	line-height: 19px;
	text-align: center;
}

.c9 .block .img {
	margin: 25px auto 20px auto;
}

.c9 .block .img1 {width: 33px; height: 33px; background: url('../img/c9_icons.png') 0px 0px no-repeat;}
.c9 .block .img2 {width: 32px; height: 32px; background: url('../img/c9_icons.png') -250px 0px no-repeat;}
.c9 .block .img3 {width: 34px; height: 33px; background: url('../img/c9_icons.png') -500px 0px no-repeat;}
.c9 .block .img4 {width: 40px; height: 40px; background: url('../img/c9_icons.png') -750px 0px no-repeat;}
.c9 .block .img5 {width: 32px; height: 26px; background: url('../img/c9_icons.png') 0px -150px no-repeat;}
.c9 .block .img6 {width: 28px; height: 32px; background: url('../img/c9_icons.png') -250px -150px no-repeat;}
.c9 .block .img7 {width: 24px; height: 32px; background: url('../img/c9_icons.png') -500px -150px no-repeat;}
.c9 .block .img8 {width: 30px; height: 30px; background: url('../img/c9_icons.png') -750px -150px no-repeat;}
.c9 .block .img9 {width: 32px; height: 32px; background: url('../img/c9_icons.png') 0px -300px no-repeat;}
.c9 .block .img10 {width: 26px; height: 32px; background: url('../img/c9_icons.png') -250px -300px no-repeat;}
.c9 .block .img11 {width: 26px; height: 32px; background: url('../img/c9_icons.png') -500px -300px no-repeat;}
.c9 .block .img12 {width: 34px; height: 30px; background: url('../img/c9_icons.png') -750px -300px no-repeat;}
.c9 .block .img13 {width: 32px; height: 30px; background: url('../img/c9_icons.png') 0px -450px no-repeat;}
.c9 .block .img14 {width: 26px; height: 32px; background: url('../img/c9_icons.png') -250px -450px no-repeat;}
.c9 .block .img15 {width: 32px; height: 32px; background: url('../img/c9_icons.png') -500px -450px no-repeat;}
.c9 .block .img16 {width: 30px; height: 32px; background: url('../img/c9_icons.png') -750px -450px no-repeat;}

.c9 .block:before {
	content: '';
	width: 3px;
	height: 114px;
	background-color: rgba(255,255,255,0.15);
	position: absolute;
	left: 0px;
	top: 10px;
}

.c9 .block:after {
	content: '';
	width: 93%;
	height: 3px;
	background-color: rgba(255,255,255,0.15);
	position: absolute;
	left: 10px;
	bottom: 0px;
}

.c9 .line {
	position: relative;
}

.c9 .line:before {
	content: '';
	width: 3px;
	height: 114px;
	background-color: rgba(255,255,255,0.15);
	position: absolute;
	right: 1px;
	top: 7px;
}

.c9 .line:last-child .block:after {
	display: none;
}
.prichini {
	width: 100%;
	margin-top: 50px;
}
.prichini ul {
	list-style: none;
}

.prichini ul li {
	padding-left: 75px;
	margin-bottom: 50px;
	position: relative;
	text-align: left;
}

.prichini ul li span {
	font-family: 'agora_bold';
	font-size: 14px;
	color: #8e001c;
	line-height: 17px;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: block;
}

.prichini ul li p {
	font-family: 'agora_thin';
	font-size: 17px;
	color: #424242;
	line-height: 19px;
}

.prichini ul li .img {
	width: 100px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.prichini .item1 .img {background: url('../img/c10_icons.png') 0px 0px no-repeat;}
.prichini .item2 .img {background: url('../img/c10_icons.png') -100px 0px no-repeat;}
.prichini .item3 .img {background: url('../img/c10_icons.png') -200px 0px no-repeat;}
.prichini .item4 .img {background: url('../img/c10_icons.png') -300px 0px no-repeat;}
.prichini .item5 .img {background: url('../img/c10_icons.png') -400px 0px no-repeat;}
.prichini .item6 .img {background: url('../img/c10_icons.png') -500px 0px no-repeat;}
.prichini .item7 .img {background: url('../img/c10_icons.png') -600px 0px no-repeat;}

.prichini_btn{
	margin-top: 25px;
	text-align: center;
}
.prichini_btn p a {
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
	background-color:#8e001c;
	color: #fff;
}
.content_bg_6 {
	margin-top: 50px;
}
.content_bg_6 .else {
	color: #fff;
}

.shema {
	margin-top: 25px;
	text-align: center;

}
.shema .block {
	width: 30%;
	margin: 0 -2px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.shema .block .icon {
	width: 64px;
	height: 64px;
	border: 3px solid rgba(255,255,255,0.4);
	margin-bottom: 23px;
	position: relative;
}

.shema .block .icon .num {
	width: 25px;
	height: 25px;
	background-color: #fff;
	position: absolute;
	top: -14px;
	right: -14px;
	font-family: 'agora_bold';
	font-size: 18px;
	color: #1c2232;
	line-height: 25px;
	text-align: center;
}

.shema .block .block_h1 {
	font-family: 'agora_bold';
	font-size: 13px;
	color: #fff;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 10px;

}

.shema .block1,
.shema .block2,
.shema .block3 {
	margin-bottom: 50px;
}

.shema .block4,
.shema .block5 {
	margin-bottom: 30px;
		margin-left: 15px;
}

.shema .block p {
	font-family: 'agora_regular';
	font-size: 14px;
	color: #fff;
	line-height: 17px;
}

.shema .block1 .icon {background: url('../img/c12_icon1.png') center center no-repeat;}
.shema .block2 .icon {background: url('../img/c12_icon2.png') center center no-repeat;}
.shema .block3 .icon {background: url('../img/c12_icon3.png') center center no-repeat;}
.shema .block4 .icon {background: url('../img/c12_icon4.png') center center no-repeat;}
.shema .block5 .icon {background: url('../img/c12_icon5.png') center center no-repeat;}

.shema .block .icon .arrow {
	position: absolute;
	right: -135px;
	top: 30px;
}

.shema .block .icon .arrow ul {
	list-style: none;
}

.shema .block .icon .arrow ul li {
	width: 6px;
	height: 6px;
	background-color: rgba(255,255,255,0.4);
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.shema .block .icon .arrow:after {
	width: 15px;
	height: 15px;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	content: '';
	position: absolute;
	top: -7px;
	right: -12px;
}
.content_6 {
	width: 100%;
	margin-top: 50px;
}
.content_6 .else {
	margin-top: 25px;
	margin-bottom: 25px;
}
.videi_img {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 150px;
}
.videi_img .left .video {
	width: inherit;
	height: 240px;
	margin-bottom: 20px;
}

.videi_img .left .sert {
	width: 228px;
	height: 313px;
	position: relative;
}

.videi_img .block1 .left .sert {background: url('../img/c13_sert1.png') left top no-repeat;}
.videi_img .block2 .left .sert {background: url('../img/c13_sert2.png') left top no-repeat;}
.videi_img .block3 .left .sert {background: url('../img/c13_sert3.png') left top no-repeat;}
.videi_img .block4 .left .sert {background: url('../img/c13_sert4.png') left top no-repeat;}

.videi_img .left .sert .desc {
	padding: 20px;
	position: absolute;
	top: 245px;
	left: 45px;
	background-color: #e4e4e4;
	font-family: 'agora_regular';
	font-size: 14px;
	color: #333333;
	line-height: 17px;
	width: 215px;
}
.videi_img .right span {
	font-family: 'agora_bold';
	font-size: 14px;
	color: #8e001c;
	line-height: 17px;
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.videi_img .right p {
	font-family: 'agora_light';
	font-size: 17px;
	color: #333333;
	line-height: 19px;
	margin-bottom: 25px;
}

.videi_img .right ul {
	list-style: none;
	margin-bottom: 25px;
}

.videi_img .right ul li {
	font-family: 'agora_light';
	font-size: 17px;
	color: #333333;
	line-height: 19px;
	margin-bottom: 5px;
	padding-left: 20px;
	position: relative;
}

.videi_img .right ul li:after {
	width: 6px;
	height: 6px;
	border: 3px solid rgba(144,0,24,0.4);
	position: absolute;
	content: '';
	left: 0px;
	top: 3px;
}
.bg_videi {
	background-color: #F0F0E9;
}
.btn {
	padding: 15px;
	text-align: center;
	background-color: #E4E159;
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
.content_bg_7 {
	margin-top: 50px;
	background-color: #fbfcfa;
}
.content_bg_7 .else {
	margin-bottom: 50px;
}
.opit {
	text-align: center;
	margin-top: 50px;
	width: 100%;
}

.btn:hover{background-color: #E4E159;}
.otziv{margin-top: 10%;margin-bottom: 10%;}
.otziv-oglav {width: 100%;text-align: center;margin-top: 5%;margin-bottom: 5%;}
.otziv-oglav p {color: #000; font-weight: bold; text-transform: uppercase;font-size: 2em;}
.otziv-img {width: 30%;margin: 0 auto; margin-top: 3%;margin-bottom: 5%;}
.otziv-img img{width: 200px;height: 200px; border-radius: 50%;margin:0 auto;}
.otziv-text {text-align: center;font-size: 1.2em;width: 80%;margin: 0 auto;}
#preimushestvo{;margin-bottom: 5%;}
#preimushestvo .else {margin-bottom: 5%;}
.vzisk-2 {margin-top: 3%; font-size: 1.1em;}
.vzisk{text-align: left;}
.uvel {padding-top: 5%;}
.vzisk-top{width: 100%;}
.vzisk-top .vzisk{margin-top: 1%;}
.vzisk-top .vzisk p{text-align: center;margin-top: ;}
.preimushestvo-oglav{text-align: center;font-weight: bold;font-size: 2em; margin-top: 2.5%;margin-bottom: 2.5%;}
.preimushestvo {height: 250px; width: 100%;display: flex;flex-direction: row;margin-top: 2%;margin-bottom: 5%;}
.preimushestvo-img{width: 45%;margin-top: 5%;}
.preimushestvo-img img{width:130px;height: 130px; border: 0.5px solid #ccc;border-radius: 50%;}
.preimushestvo-text {width: 55%;font-size: 1.2em;}
.preimushestvo-text p {border-top: 1px solid #666}

.preimushestvo-text span { text-transform: uppercase;font-weight: bold;font-size: 1.3em;padding-bottom: 10%;}
.bg_content_preimushestvo .container{padding-bottom: 3%;}

.container .preimushestvo-oglav {color: #666;}
.dostavka{margin-top: 10%;margin-bottom: 30%;}
.dostavka-text{width: 100%; margin-bottom: 5%; font-weight: bold;font-size: 1.5em; color: #666;text-align: center;}
.dostavka-text span{color: #000;}
.dostavka-sroki p {font-weight: bold;font-size: 1.5em;text-align: center;padding-bottom: 5%;}
.dostavka-sroki ol {list-style-type: circle; width: 40%; margin: 0 auto}
.dostavka-sroki ol li {padding: 1%;font-weight: bold;font-size: 1.2em;}
.logo_right i {padding-left: 1%; padding-right: 2%;}
.logo_right .fa-vk {font-size: 1.3em;margin-right: 10%;}
.logo_right .fa-vk:hover {color: #507299;}
.logo_right .fa-instagram {font-size: 1.3em;margin-right: 10%;}
.logo_right .fa-instagram:hover {color: #E4E159}
.logo_right .btns {background:none; font-size: 1.5em;margin-top: 1%;padding-top: 1%; float: none;left: 0}
.logo_right .btns:hover {background:none; text-decoration: underline;}
#isorii {
	margin-top: 5%;border-bottom: 0.5px solid #ccc;
}
.istor-block{margin-bottom: 10%;padding: 4%;background: #fff; padding-bottom: 8%;border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.5);}
#isorii {padding-bottom: 5%;}
.preimush-img{width: 100%;margin-top: 25%;}
.preimush-img img {width: 100%;}
.right-img {width: 100%;}
.right-img img {width: 100%;}
.otziv-soc {width: 100%;text-align: center;}
.otziv-soc p {font-size: 1.8em;}
.otziv-soc .fa	{font-size: 1.5em; margin-bottom: 2%;}	
.otziv-soc .fa:hover {color:#E4E159; }	
#block-3 {
    
    margin: 0 auto;
}
#block-3 .container{border-bottom: none;}

#block-3 h2{
    text-transform: uppercase;
    color: #292F47;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
	margin-top: 50px;
}
#preimushestvo #block-3 {width: 100%;margin: 0 auto;}
#preimushestvo #block-3 hr {width:30%; }
.bg_content_preimushestvo #block-3 hr {width:26%; }

#isorii  #block-3 hr {width:25%; }
#isor  #block-3  {width:80%; margin: 0 auto; }
#isor  #block-3 hr {width:25%; }


#block-3 h2 span{
    font-weight: normal;
    color: #E4E159;
}

#block-3 hr{
    width: 23%;
    display: inline-block;

    margin-bottom: 30px;
    height: 2px;
    background-color: #E4E159;
    margin-right: 28px;
    margin-left: 28px;
} 

#block-3 div.col-lg-2{
    text-align: center;
} 

#block-3 div.col-lg-2 hr{
    height: 4px;
    width: 38px;
    background-color: #E4E159;
    margin: 0;
} 

#block-3 div.col-lg-2 h6{
    font-weight: bold;
    font-size: 18px;
    color: #292f47;
}

#block-3 div.col-lg-2 p{
    color: #292f47;
    font-size: 12px;
    margin-top: 10px;
}

.arrow{
    position: absolute;
    top: 50px;
    right: -34px;
}
.bg-1 {width: 100%;background: url(../img/bg1.png) center center no-repeat; -webkit-background-size: cover;
background-size: cover;}
.bg-1-bg {background: rgba(31, 30, 30, 0.88);}
#preimushestvo h2 {color: #fff;}
#preimushestvo  .else_desc .else-underl {color: #fff;}
#preimushestvo .else_desc p {color: #fff;}
.bg-1-bg #block-3  h2 {color: #fff;}
.bg-1-bg #block-3  .col-lg-2 h2 {color: #fff;}
.bg-1-bg #block-3  .col-lg-2 h6 {color: #fff;}
.bg-1-bg #block-3  .col-lg-2 p  {color: #fff;}
.asort hr { width: 25% !important;
}
.asort1 hr { width: 30% !important;
}
.isor_btn_md_lg p a:hover{background-color: #E4E159;}