@media only screen
and (min-device-width:250px)
and (max-device-width:425px){
    	.navbar .left_menu img {
		margin-left: 5%;
	
	}
 
}

@media only screen
and (min-device-width:250px)
and (max-device-width:860px){
	.header #menu {display: none!important;}
	.mobile_menu {display: block;}
	.contacts {
		padding:0px;
	}
	.contacts h3 {font-size: 35px;}
	.contacts-bottom {flex-direction: column;}
	.contacts .contacts-bottom .contacts-right {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.contacts .contacts-bottom .button_top {
		width: 100%;
		justify-content: center;
	}
	.contacts h3 {
		text-align: center;
	}
	.member-right {
		width: 100%;
		justify-content: center;
		align-self: center;
	}
	.member-right img {
				justify-content: center;
		align-self: center;
	}
	.member-left {
		width: 100%;
		justify-content: center;
		align-self: center;
	}
	.member-right-top {
		margin-top: 50px;
	}
	#team h3 {
		text-align: center;
	}
	.geography-right {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.geography-right p {
		text-align: center;
	}
	.geography-left {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.geography-left p {
		text-align: center;
	}
	.geography-left h3 {
		font-size: 35px;
		text-align: center;
	}
	#features h3  {
		font-size: 35px;
		text-align: center;
	}
	.features_bottom img {
		display: none;
	}
	#features {
		margin-top: 50px;
	}
	.approa .top_blck_in h2 {
		font-size: 35px!important;
		text-align: center;
	}
	.top_blck_in .button_top {
		align-self: center;
	}
	.services_features_in img {
		margin-right: 25px;
	}
	.services_top h2 {
		font-size: 35px;
		text-align: center;
	}
	#skills {
		display: none;
	}
	.navbar-header{
		background-color: #99F7FF;
	}

.mb_show {
	display: block!important;
	text-align: center!important;
}
.mb_hide {
	display: none!important;

}
.top_blck_in h2 {
	font-size: 85px!important;
	height: auto!important;
}
	}
	@media only screen
and (min-device-width:765px)
and (max-device-width:3500px){
.mobile_menu {
	display: none;

}
.header #menu {
	display: block!important;
}
}

@media only screen
and (min-device-width:861px)
and (max-device-width:1500px){
	.geography-left {
		padding:0;
		padding-bottom: 85px;
		padding-left: 25px;
	}
	.geography-right {
		padding:0;
		padding-bottom: 85px;
		padding-left: 25px;
	}
}