/******************************************************************
    This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: 'agora_regular';
    line-height: 1;
    background-color: #F5F6F8;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, body {
    width: 100%;
    letter-spacing: 0.025em;
    line-height: 1.75;
    
    opacity: 1; 
    -webkit-font-smoothing: subpixel-antialiased;
}

/******************************************************************
    This is the CSS Reset
******************************************************************/
/********header**********/
header {margin-top: 30px;}
.top{margin-bottom: 30px;}
.logo {width: 100%;}
.logo a img {width: 100%;}
.metro {width: 100%;}
.metro ul {margin: 0;}
.metro ul li {display: flex;flex-direction: row;}
.metro ul li img {width: 25px;height: 22px; margin-right: 15px;}
.metro ul li p {padding: 0;font-size: 15px;color: #004373;font-weight: bold;}
.telefon {width: 100%;display: flex;justify-content: center;align-items: center;height: 62px;}
.telefon a {color: #004373;font-weight: bold; font-size: 25px; }
.telefon a:hover{text-decoration: none;color: #FF9E00;transition: .4s ease-out;}
.menu{width: 100%;background-color: #004373; height: 60px;}
.menu ul {height: 60px; margin: 0;display: flex; flex-direction: row;justify-content:space-around;align-items: center;}
.menu ul li a{color: #fff;font-size: 16px; font-weight: bold;}
.menu ul li a:hover{text-decoration: none;color: #FF9E00;transition: .4s ease-out;}
/***********header**********/


/**********top-slider***********/
.top-slider {background: url(../img/top-slider.png) center center no-repeat;-webkit-background-size: cover;
background-size: cover;}
.top-slider-text {margin-top: 150px;margin-bottom: 150px;margin-left: 155px;width: 75%;}
.top-slider-text .h2 {font-weight: bold;font-size: 40px;color:#fff;}
.top-slider-text a:hover {color: #FF9E00;transition: .4s ease-out;text-decoration: none;}
.top-slider-text a{background-color: #FFD877;font-size: 30px;color: #004373;border-radius: 25px;margin-top: 50px;display: block;width: 40%;text-align: center;}
.carousel-control.right {background-image:none!important;}
.carousel-control.left {background-image:none!important;}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{right:12%!important;}
.carousel-control{width: 10%!important}
.carousel-control img{top: 45%;position: absolute;}
/**********top-slider***********/


/**********Preimushestva*******/
.preimush {margin: 65px 0;}
.preim-block {display: flex;flex-direction: row;align-items: center; height: 135px;}
.preim-block img {margin-right: 15px;}
.preim-block-text {display: flex;flex-direction: column;}
.preim-block-text .h2 {color:#FF9E00;text-transform: uppercase;font-size: 20px;}
/**********Preimushestva*******/

/*********block-text**********/

.block-text {width: 100%;margin-top: 50px;}
.block-text-top {font-weight: bold; width: 100%;text-align: center;font-size: 20px;margin-bottom: 50px;}
.block-text-second {
font-size: 20px;width: 90%;
}
.block-text-down {width: 90%;font-size: 20px;margin-top: 50px;}
/**********block-ssilki*********/
.block-ssilki {margin-top: 50px;margin-bottom: 85px;}
.block-ssilki-left {margin-top: 1%;background: url(../img/block-left.png) center center no-repeat;-webkit-background-size: cover;
background-size: cover;}
.block-ssilki-left a {display: block;width: 100%;padding-top:113px;padding-bottom: 15px;  color: #fff;text-decoration: none;background:rgba(89, 88, 88, 0.21);}
.block-ssilki-left a:visited{text-decoration: none;}
.block-ssilki-left a:hover {text-decoration: none;color: #FF9E00;transition: .4s ease-out;}
.block-ssilki-left a .h2{margin-left: 35px;}
.block-ssilki-left a p {margin-left: 35px; width: 50%;padding-top: 28px;}
.block-ssilki-right-main {margin-left: -20px;padding-left: ;}
.block-ssilki-right {width: 48%;display: flex;float: left; margin: 1%; background: url(../img/block-right.png) center center no-repeat;-webkit-background-size: cover;
background-size: cover; }
.block-ssilki-right a{display: block;width: 100%;padding-top:80px;padding-bottom: 10px;color: #fff;text-decoration: none;background:rgba(89, 88, 88, 0.21);}
.block-ssilki-right a .h2 {font-weight: bold; font-size: 17px;margin-left: 15px;width: 80%;}
.block-ssilki-right a:hover {text-decoration: none;color: #FF9E00;transition: .4s ease-out;}
.block-ssilki-right a:active {text-decoration: none;}
.block-ssilki-right:visited {text-decoration: none;}
/**********block-ssilki*********/

/**********block-zahvat*********/
.block-zahvat {width: 100%;background: url(../img/block-zahvat.png) center center no-repeat;margin-top: 80px;
-webkit-background-size: cover;
background-size: cover;}

.block-zahvat-text .h3 {margin-top: 160px;color: #fff;font-size: 35px;text-transform: uppercase;font-weight: bold;margin-bottom: 30px;}
.block-zahvat-text p {color: #fff;font-size: 25px;}
.block-zahvat-text p span {color: #FF9E00;}
.block-zahvat-forma {width: 100%;background: #fff;border-radius: 15px;margin-top: 50px;margin-bottom: 50px;}
.block-zahvat-forma-in {padding:30px 20px 30px 20px }
.block-zahvat-forma-in p{font-size: 20px;color:#004373; padding-bottom: 30px;}
.block-zahvat-forma-in p span {color: #FF9E00;}
.block-zahvat-forma-in form input,label {width: 100%;}
.block-zahvat-forma-in form input {height: 35px;padding-left: 10px;border-radius: 15px;border:1px solid #ccc;margin-bottom: 25px;}
#agree {height: 20px;width: 10%;margin-bottom: 0;border-radius: 15px;font-size: 5px;}
form span {font-size: 10px;margin-left: -5px;}
#continue {margin-top: 30px; height: 40px;color:#004373;background-color:#FF9E00;font-weight: bold; }
.agree{width: 80%;}
/**********block-zahvat*********/


/***********voprosi*********/
.voprosi .h3 {margin-top: 80px;margin-bottom: 40px;font-weight: bold;font-size: 35px;color:#004373;text-transform: uppercase; }
.voprosi a:hover{text-decoration: none;color: #FF9E00;transition: .4s ease-out;}
.open-content {font-weight: bold;text-transform: uppercase;color: #004373;}
.open-content span {padding-right: 15px; color:#FF9B00;}
.open-content:hover {text-decoration: none;}
.open-content:active {text-decoration: none;}
.open-content:visited {text-decoration: none;}
.open-text {margin-bottom: 25px;margin-left: 30px;font-size: 20px;font-weight: bold;color:#FF9B00;}
/***********voprosi*********/

/*******foooter******/
footer {margin-top: 50px;background-color: #004373;}
.footer{
padding-top: 65px;padding-bottom: 65px;
}
.footer-menu ul {
    margin: 0;display: flex; flex-direction: column;justify-content:space-around;
}
.footer-menu ul li {margin-top: 15px;}
.footer-menu ul li:first-child {margin-top: 0;}
.footer-menu ul li a{color: #fff;font-size: 16px; font-weight: bold;}
.footer-menu ul li a:hover{text-decoration: none;color: #FF9E00;transition: .4s ease-out;}
.footer-contacts p {color:#fff;font-size: 20px;font-weight: bold;text-transform: uppercase;}
.footer-contacts ul {margin-left: 10px;}
.footer-contacts ul li {margin-top: 20px; color: #fff}
.footer-contacts ul li a {color: #fff;}
.footer-contacts ul li a:hover{text-decoration: none;color: #FF9E00;transition: .4s ease-out;}
.footer-contacts ul li img {margin-right: 10px;}
.footer-widget {width: 100%;margin-top: 45px;}
.footer-widget img {width: 100%;}
/*******foooter******/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 992px)
{
    .menu {height: auto;}
    .menu ul li {margin-top: 5px;}
    .top-slider-text {margin: 0 auto;width: 100%;}
    .carousel-control.right img {right:10px;}
    .menu ul {height: auto;flex-direction: column;margin-top: 25px;margin-bottom: 25px;}
    .top-slider-text a{
        width: 85%;margin: 0 auto; margin-bottom: 25px;margin-top: 25px;
    }
    .top-slider-text .h2 {text-align: center;}
    .block-text-second {
        text-align: center;
        width: 100%;
    }
    .block-ssilki-right-main {
        margin-left: 0;
    }
    .block-text-down {width: 100%;
        text-align: center;}
        .block-zahvat-text .h3 {margin-top: 25px;font-size: 25px;text-align: center;}

}
/************Page-predmeti***********/
.block-text-top-pages {width: 70%; text-align: left; color:#004373;font-weight: bold;font-size: 30px;}
.top-slider-pages {background: #EBEBEB;padding-top: 25px;padding-bottom: 50px;}
.top-slider-pages .h2 {color:#004373; margin-bottom: 50px;}
.item .item-pages-text {
    width: 100%;
}
.item .item-pages-text ul {
display: flex;
flex-direction: column;
}
.item .item-pages-text ul li p span {
    color:#004373;
}
.top-slider-pages .carousel-control img {top: 25%;}
.block-text-second-pages {font-weight: bold; text-align: center; width: 100%;}
.programmi {
    margin-top: 50px;
}
.programmi .h2 {margin-bottom: 50px;color:#004373;font-weight: bold; }
.programmi .programmi-spisok ul {display: flex;flex-direction: column;}
.programmi .programmi-spisok ul li{
display: inline-flex;
color:#FFD877;
font-size: 30px
}
.programmi .programmi-spisok ul li img {width: 20px;height: 5px;margin-top: 1%;}
.programmi .programmi-spisok ul li p {font-size: 20px;color: #000;}
.programmi .programmi-spisok ul li p span {margin-left: 15px;margin-right: 15px;color: #000;font-size: 20px; font-weight: bold;}
.counter {margin-top: 50px;margin-bottom: 50px;}
.counter .h2 {color:#004373; width: 100%;text-align: center;font-weight: bold;}
#countdown_dashboard{margin-top:15px;margin-bottom:15px;width:100%;display:flex;flex-direction:row;}
.dash{display:flex;flex-direction:row;margin:0 auto;}
.dash .digit{background:#F0F0F0;margin-right:10%;color:#004373!important;font-size:5em;font-family:roboto-regular;padding: 0 15px;}
.vrem{display:inline-flex;margin:0 auto;width:100%;font-family:roboto-light; justify-content: space-around;font-weight: bold;font-size: 20px;text-transform: uppercase;color:#004373}
/************Page-predmeti***********/