/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 319px) 
and (max-device-width : 480px) {
/* Styles */
body {

	
}
form {

}

.line .top-btn {
	margin: 0 auto;
	margin-top: -30px !important ;
	text-align: center;
	margin-right: 50px !important;
}
.bg {
	min-width: 320px;
	max-width: 480px;	
	background: url('../img/mobile.jpg') center center no-repeat;

	left: 0px;
	top: 0px;
	z-index: 1;
	padding-bottom: 0px;

}
.c1 .wrapp {
	min-width: 320px;
	max-width: 480px;
	padding-bottom: 0px;
}
#cooperation {
	min-width: 320px;
	max-width: 480px;

	display: flex;
	flex-direction: column;
}
.wrapp {
	min-width: 320px;
	max-width: 480px;
	width: 100%;
	padding: 0;
	
}
#logo_text {
	text-align: center;
	margin-top: 20px;
	margin: 0 auto;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.c1 .logo {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background: url('../img/c1_logo2.png') center center no-repeat;
}
.c1 .cont {
	min-width: 320px;
	max-width: 480px;
	margin-top: 350px;

}
.c1 .cont .h2{
	margin-top: -250px;
	position: inherit;
}
.cont .h2 {
	margin-top: -250px;
}
.c1 .cont .h2 {
	text-align: center;
}
.garantii {
	position: absolute;
	margin-top: -420px;
	width: 100%;
	text-align: center;
}
.cont .consult {
	margin: 0 auto;
	justify-content: flex-start;
	margin-top: 100px;

}

#button_zakaz {
	position: relative;
	margin: 0 auto;
	margin-bottom: 0;
	padding-top: 10px;
	background-color: transparent;
}
.top_down {
		min-width: 320px;
	max-width: 480px;
	margin-top: 0px;
}
.otvetchik {
	margin-top: 0;
	font-size: 1em;
	padding-bottom: 20px;
}
/*-----header--------*/

.c4 {
	min-width: 320px;
	max-width: 480px;
}
.c4 .wrapp {
	padding: 0;
}
.c4 .block {
	width: 100%;
	margin-top: 10px;
}
.c4 .line {
	margin-top: 5px;
	margin-bottom: 5px;
}
/*-------2 block-------*/
.c7 {
		min-width: 320px;
	max-width: 480px;
	background-color: #ccc;

}
.c7 .wrapp {
	margin-top: 0;
	padding-top: 0;

}

.c7 .left {
	padding-left: 5px;
}
.c7 .right {
	min-width: 320px;
	max-width: 480px;
	float: left;
	width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
 
  margin: 50px 0 10px 0px;
    background-color: #ccc;
}
.right form {
	width: 100%;
	min-width: 320px;
	max-width: 480px;
	padding: 2px;

}
.right form input[name="phone3"] {
width: 120px;
}
form .desc {

	margin-right: 0;

}
form .btn {
	width: 100%;
	min-width: 320px;
	max-width: 480px;
	width: 320px;
}
/*-----------block 3 --------------*/
.c4 .block {
	margin: 0 auto;
	width: 97%;
	
}


.c5 {
	width: 100%;
		min-width: 320px;
	max-width: 480px;
	height: 830px;

}
.c5 .line {
	margin: auto 0 ;
	text-align: center;
}
.c5 .line ul li {
	width: 100%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
}
.c3 {
	width: 100%;
		min-width: 320px;
	max-width: 480px;

}
.c8 .wrapp {
	margin-top: 0;

}
.c7 .left {
	padding: 0;
}
.c7 .left .h1 {
	width: 100%;
}
.c8 {
		width: 100%;
	min-width: 320px;
	max-width: 480px;
}
.c8 .wrapp{
	margin-top: 50px;
}
.c9,.c10,.c11,.c12,.c13,.c14,.c15,.c16,.c17,.c18 {
	width: 100%;
	min-width: 320px;
	max-width: 480px;

}
 .c11 .slider_wrapp {
 	width: 100%;
	min-width: 320px;
	max-width: 480px;
 }
 .c11 .slider_wrapp .slider {
 	display: flex;
 	flex-direction: column;
 		width: 100%;
	min-width: 320px;
	max-width: 480px;
	left: 0;
 }
 .c11 .slider_wrapp {
 	background: center center no-repeat #fff;

 }
 .c11 .slider_wrapp .slider .slide .slide1,.slide2,.slide3 {
 	width: 100%;
 }
 .c11 .slider_wrapp .slider .slide.slide3 .img {
 	min-width: 320px;
	max-width: 480px;
 	width: 50%;
 	background: url('../img/slide3/img1.jpg') center center no-repeat;
 }
 .c11 .slider_wrapp .arrow.left_arrow {
 	left: 0;
 }
 .c11 .slider_wrapp .arrow.right_arrow {
 	right:0px;
 }
 .c11 .slider_wrapp .slider .slide.slide2 > p {
 	margin-top: 20px;
 }
 .c11 {
 	background-color: #fff;
 }
 .c11 .slider_wrapp .slider .slide {
 	background-color: #fff;
 }
 .c11 .slider_wrapp .slider .slide.slide1 .img {
 	width: 100%;
 }
  .bannerblock  {
  	display: flex;
  	flex-direction: column;
  }
 .bannerblock img {
 	width: 100%;
 	padding: 0;
 }
 .img1 {
 	display: flex;
 	flex-direction: column;
 	width: 100%;
 	height: 900px;
 }
 .raschet2 {
 	margin-left: 5px;
 }
 .bannerblock #calculate {
 	top: 0;
 	left: 0;
 }
 .c10 .left {
 	margin-left: 0px;
 }
 .c12 {
 	height: 1400px;
 	background: url('../img/c12_bg.jpg') center center repeat;
 }
 .c12 .block_wrapp{
 	display: flex;
 	flex-direction: column;
 	left: 0;
 	right:0;
 	margin: auto;
 	padding-left: 20px;
 	height: 1200px;
 }
 .c13 .right {
 	width: 100%;
 	
 	padding-top: 100px;
 }
 .c14 .block {
 	margin: 0 auto;
 	width: 98%;
 }
 .c15 .left {
 	padding: 0;
 	width: 100%;
 	min-width: 320px;
	max-width: 480px;

 }
 .c15 .wrapp {
 	margin: 0 auto;
 	padding-top: 0;
 }
 .c15 .left p {
 	width: 100%;
 	min-width: 320px;
	max-width: 480px;
 }
 .c15 .left .h1{
 		width: 100%;
 	min-width: 320px;
	max-width: 480px;
 }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 479px)
and (max-width : 768px)  {

/* Styles */
.line .top-btn {
	margin: 0 auto;
	margin-top: -30px !important ;
	text-align: center;
	margin-right: 50px !important;
}
.bg {
	min-width: 479px;
	max-width: 768px;	
	background: url('../img/mobile.jpg') center center no-repeat;

	left: 0px;
	top: 0px;
	z-index: 1;
	padding-bottom: 0px;

}
.c1 .wrapp {
	min-width: 479px;
	max-width: 768px;
	padding-bottom: 0px;
}
#cooperation {
	min-width: 479px;
	max-width: 768px;

	display: flex;
	flex-direction: column;
}
.wrapp {
	min-width: 479px;
	max-width: 768px;
	width: 100%;
	padding: 0;
	
}
#logo_text {
	text-align: center;
	margin-top: 20px;
	margin: 0 auto;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.c1 .logo {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background: url('../img/c1_logo2.png') center center no-repeat;
}
.c1 .cont {
	min-width: 479px;
	max-width: 768px;
	margin-top: 350px;

}
.c1 .cont .h2{
	margin-top: -250px;
	position: inherit;
}
.cont .h2 {
	margin-top: -250px;
}
.c1 .cont .h2 {
	text-align: center;
}
.garantii {
	position: absolute;
	margin-top: -420px;
	width: 100%;
	text-align: center;
}
.cont .consult {
	margin: 0 auto;
	justify-content: flex-start;
	margin-top: 100px;

}

#button_zakaz {
	position: relative;
	margin: 0 auto;
	margin-bottom: 0;
	padding-top: 10px;
	background-color: transparent;
}
.top_down {
		min-width: 479px;
	max-width: 768px;
	margin-top: 0px;
}
.otvetchik {
	margin-top: 0;
	font-size: 1em;
	padding-bottom: 20px;
}
/*-----header--------*/

.c4 {
	min-width: 479px;
	max-width: 768px;
}
.c4 .wrapp {
	padding: 0;
}
.c4 .block {
	width: 100%;
	margin-top: 10px;
}
.c4 .line {
	margin-top: 5px;
	margin-bottom: 5px;
}
/*-------2 block-------*/
.c7 {
		min-width: 479px;
	max-width: 768px;
	background-color: #ccc;

}
.c7 .wrapp {
	margin-top: 0;
	padding-top: 0;

}

.c7 .left {
	padding-left: 5px;
}
.c7 .right {
	min-width: 479px;
	max-width: 768px;
	float: left;
	width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
 
  margin: 50px 0 10px 0px;
    background-color: #ccc;
}
.right form {
	width: 100%;
	min-width: 479px;
	max-width: 768px;
	padding: 2px;

}
.right form input[name="phone3"] {
width: 120px;
}
form .desc {

	margin-right: 0;

}
form .btn {
	width: 100%;
	min-width: 479px;
	max-width: 768px;
	width: 479px;
}
/*-----------block 3 --------------*/
.c4 .block {
	margin: 0 auto;
	width: 97%;
	
}


.c5 {
	width: 100%;
		min-width: 479px;
	max-width: 768px;
	height: 830px;

}
.c5 .line {
	margin: auto 0 ;
	text-align: center;
}
.c5 .line ul li {
	width: 100%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
}
.c3 {
	width: 100%;
		min-width: 479px;
	max-width: 768px;

}
.c8 .wrapp {
	margin-top: 0;

}
.c7 .left {
	padding: 0;
}
.c7 .left .h1 {
	width: 100%;
}
.c8 {
		width: 100%;
	min-width: 479px;
	max-width: 768px;
}
.c8 .wrapp{
	margin-top: 50px;
}
.c9,.c10,.c11,.c12,.c13,.c14,.c15,.c16,.c17,.c18 {
	width: 100%;
	min-width: 479px;
	max-width: 768px;

}
 .c11 .slider_wrapp {
 	width: 100%;
	min-width: 479px;
	max-width: 768px;
 }
 .c11 .slider_wrapp .slider {
 	display: flex;
 	flex-direction: column;
 		width: 100%;
	min-width: 479px;
	max-width: 768px;
	left: 0;
 }
 .c11 .slider_wrapp {
 	background: center center no-repeat #fff;

 }
 .c11 .slider_wrapp .slider .slide .slide1,.slide2,.slide3 {
 	width: 100%;
 }
 .c11 .slider_wrapp .slider .slide.slide3 .img {
 	min-width: 479px;
	max-width: 768px;
 	width: 50%;
 	background: url('../img/slide3/img1.jpg') center center no-repeat;
 }
 .c11 .slider_wrapp .arrow.left_arrow {
 	left: 0;
 }
 .c11 .slider_wrapp .arrow.right_arrow {
 	right:0px;
 }
 .c11 .slider_wrapp .slider .slide.slide2 > p {
 	margin-top: 20px;
 }
 .c11 {
 	background-color: #fff;
 }
 .c11 .slider_wrapp .slider .slide {
 	background-color: #fff;
 }
 .c11 .slider_wrapp .slider .slide.slide1 .img {
 	width: 100%;
 }
  .bannerblock  {
  	display: flex;
  	flex-direction: column;
  }
 .bannerblock img {
 	width: 100%;
 	padding: 0;
 }
 .img1 {
 	display: flex;
 	flex-direction: column;
 	width: 100%;
 	height: 900px;
 }
 .raschet2 {
 	margin-left: 5px;
 }
 .bannerblock #calculate {
 	top: 0;
 	left: 0;
 }
 .c10 .left {
 	margin-left: 0px;
 }
 .c12 {
 	height: 1400px;
 	background: url('../img/c12_bg.jpg') center center repeat;
 }
 .c12 .block_wrapp{
 	display: flex;
 	flex-direction: column;
 	left: 0;
 	right:0;
 	margin: auto;
 	padding-left: 20px;
 	height: 1200px;
 }
 .c13 .right {
 	width: 100%;
 	
 	padding-top: 100px;
 }
 .c14 .block {
 	margin: 0 auto;
 	width: 98%;
 }
 .c15 .left {
 	padding: 0;
 	width: 100%;
 	min-width: 479px;
	max-width: 768px;

 }
 .c15 .wrapp {
 	margin: 0 auto;
 	padding-top: 0;
 }
 .c15 .left p {
 	width: 100%;
 	min-width: 479px;
	max-width: 768px;
 }
 .c15 .left .h1{
 		width: 100%;
 	min-width: 479px;
	max-width: 768px;
 }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}