/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #F5F6F8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	width: 100%;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: subpixel-antialiased;
}

#form {
	padding:50px 20px;
	background: #fff;
	max-width: 320px;
	margin: auto;
	position: relative;
}
#form input {
	width:100%;
	margin-bottom: 10px;
}

.menubar {
	display: flex;
	width: 100%;
	position: fixed;
	background: #fff;
	top:0;
	z-index: 999;
	background: #6093e7; /* Old browsers */
   background: -moz-linear-gradient(left, #6093e7 12%, #6093e7 12%, #6093e7 12%, #6093e7 12%, #1e5799 37%, #1e5799 37%, #1e5799 43%, #207cca 100%, #6093e7 100%, #7db9e8 100%, #1e5799 100%, #1e5799 100%, #207cca 101%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #6093e7 12%,#6093e7 12%,#6093e7 12%,#6093e7 12%,#1e5799 37%,#1e5799 37%,#1e5799 43%,#207cca 100%,#6093e7 100%,#7db9e8 100%,#1e5799 100%,#1e5799 100%,#207cca 101%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #6093e7 12%,#6093e7 12%,#6093e7 12%,#6093e7 12%,#1e5799 37%,#1e5799 37%,#1e5799 43%,#207cca 100%,#6093e7 100%,#7db9e8 100%,#1e5799 100%,#1e5799 100%,#207cca 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6093e7', endColorstr='#207cca',GradientType=1 ); /* IE6-9 */
	height: 75px;
}
.logo {
	margin-left: 60px;
	width: 20%;
margin-top: -67px;

	
}
.logo img {

	width: 100%;
}
.menu-nav {
	margin-top: 35px;
	margin-left: 100px;
	
}
.menu-nav-content {
	float:left;
	margin-left: 15px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}
.menu-nav-content a {
	text-decoration: none;
	font-size: 1.5em;
	color:#fff;
	text-decoration: none;
}
.header-content h1 {
	padding-top: 500px;
	color:#fff;
	text-align: center;
	font-size: 2em;
}
.color {
	background: #fff;
	color:#6093E7;
	padding:0 5px 5px 5px;
}
.uslugi-site {
	width: 100%;
	background: #fff;
	float: left;
}
.uslugi-site-left {
	width: 45%;
	float: left;
}
.uslugi-site-left-contant-1 {
	width: 200px;
	height: 170px;
	background: #00EF8F;
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 30px;
}
.uslugi-site-left-contant-2 {
	position: absolute;
	color: #212121;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 90px;
	padding-top: 50px;
	border-bottom: 2px solid #212121;
}
.uslugi-site-right {
	width: 50%;
	float: left;
	color: #666;
	margin-top: 30px;
}
.uslugi-site-right-mid {
	width: 50%;
	float: left;
	color: #666;
	margin-top: 30px;
	margin-left: 50px;
}
.uslugi-site-left-contant-mid-1 {
	width: 200px;
	height: 170px;
	background: #F24369;
	margin-top: 30px;
	margin-bottom: 30px;
}
.uslugi-site-left-contant-mid-2 {
	position: absolute;
	color: #212121;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 90px;
	padding-top: 20px;
	border-bottom: 2px solid #212121;	
}
.uslugi-site-left-contant-mid-3 {
	position: absolute;
	color: #212121;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 90px;
	padding-top: 80px;
	border-bottom: 2px solid #212121;	
}
.uslugi-site-left-contant-bottom-1 {
	width: 200px;
	height: 170px;
	background: #F3A750;
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 30px;
}
.servis {
	float:left;
	background: url(../images/1-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-color: rgba(0,0,0,.7);
   background-blend-mode: darken;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
}
.servis-contant {
	border:2px solid #ccc;
	text-align: center;
	color: #fff;
	border-radius: 10px;
}
.servis-contant i {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: orange;
}
.servis-contant p {
	font-size: 20px;
	margin-bottom: 20px;
}
.servis-row-2 {
	margin-top: 30px;
}
i.fa-mobile {
	font-size: 40px;
	margin-bottom: 11px;
}
.contactu {
	float:left;
	background: url(../images/1-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-color: rgba(0,0,0,.7);
   background-blend-mode: darken;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
}
.contactu-top {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
	padding-left: 60px;
	margin-bottom: 40px;
	width: 100%;
	float:left;
}
.contactu-left-contant {
	width: 100%;
	float:left;
	margin-top: 15px;
}
.contactu-left-contant i {
	color:orange;
	float: left;
	font-size: 28px;
}
.contactu-left-contant p {
	color:#fff;
	float:left;
	font-size: 19px;
	margin-left: 10px;
}
.contactu-mid img {
	width: 100%;
}
.contactu-right {
	margin-top: 35px;
}
.contactu-right-top {
	margin-left: 20px;
}
.contactu-right i {
	color: #fff;
	font-size: 35px;
	background: orange;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	margin-left: 10px;
	text-align: center;
	vertical-align: middle;
}
i.fa-vk {
	padding-top: 7px;
}
i.fa-facebook {
	padding-top: 9px;
}
.contactu-right-bot {
	margin-top: 10px;
}
.contactu-right-bot i {
	margin-left:62px;
	font-size: 40px;
	padding-top: 5px;
}
.contacu-form-top {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
	float:left;
}
.contactu-left {
	width: 30%;
	float: left;
}
.contactu-left img {
	width: 50px;
}
.contactu-mid {
	width: 40%;
	float: left;
}
#form-2 {
	width: 100%;
}
.form-2-input {
	width: 36%;
	float: left;
	margin-top: -15px;
}
.form-2-input-text {
	margin-top: 17px;
	color:#fff;
	margin-left: 10px;
	margin-bottom: 2px;
}
.form-2-input input {
	width: 100%;
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid rgba(255,255,255,.4);
	background: rgba(255, 255, 255, 0.4);
	color: #fff;
}
.form-2-textarea {
	width: 60%;
	float: right;
}
#form-2 textarea {
	width: 100%;
	background: rgba(255, 255, 255, 0.4);
	padding-bottom: 10px;
	border-radius: 2px;
	border: 1px solid rgba(255,255,255,.4);
	color: #fff;
}
.form-2-textarea-text {
	margin-top: 2px;
	color:#fff;
	margin-bottom: 2px;
}
.form-2-textarea button {
	font-family: 'helvetica';
    display: inline-block;
    padding: 7px 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background: orange;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: 550;
    text-align: center;
    width: 49%;
    font-size: 15px;
    border: none;
    margin-top: 9px;
}
-webkit-input-placeholder {
    color: #fff;
}
-moz-placeholder{ 
    color: #fff; 
}
-moz-placeholder {
    color: #fff;
}
-ms-input-placeholder {  
    color: #fff; 
}
.footer {
	padding-bottom: 15px;
	background-color: #282C30;
}
.footer-left {
	margin-top: 20px;
}
.footer-left-a {
	margin-top: 7px;
}
.footer-right {
	color: orange;
	margin-top: 20px;
}
.footer-end {
	text-align: center;
	color: #fff;
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 15px;
}